body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    margin: 0;
    padding: 0;
}

.logo {
    margin: 10px 36px;
    color: #ffffff;
    font-size: 24px;
    position: fixed;
    float: left;
}

.logo a img {
    width: 7%;
    height: 7%;
}

nav {
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 9999;
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #ffffff;
    padding: 0;
    text-align: right;
    margin: 0 ;
    margin-right: 30px;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    z-index: 999;
    transition: 1s;
}

nav ul li a:hover {
    color: darkblue;
}

.menu-icon {
    width: 100%;
    background: #000000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #ffffff;
    display: none;
}

.sesi-1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.sesi-1 .container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
}

.sesi-1 .container .container-1 img {
    width: 180px;
    height: 180px;
    margin-top: 100px;
    border-radius: 50%;
    transition: 1s;
}

.sesi-1 .container .container-1 img:hover {
    border-radius: 0%;
}

.sesi-1 .container .container-1 p {
    color: #ffffff;
    font-size: 28px;
    position: relative;
    top: -20px;
}

.sesi-1 .container .container-1 h4 {
    color: #fff;
    position: relative;
    top: -45px;
}

.sesi-1 .container .container-2 {
    width: 800px;
    height: auto;
    margin: auto;
    color: #ffffff;
    font-size: 16px;
    text-align: justify;
    text-indent: 30px;
}

.sesi-1 .container .container-2 .kiri {
    width: 375px;
    float: left;
}

.sesi-1 .container .container-2 .kanan {
    width: 375px;
    float: right;
}

.sesi-2 {
    padding-top: 50px;
    text-align: center;
    background: linear-gradient(#fff, #000);
}

.sesi-2 .container-1 {
    width: auto;
    height: auto;
    margin: auto;
}

.sesi-2 .container-1 h2 {
    color: #000;
    font-size: 48px;
}

.sesi-2 .container-1 ul {
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 0;
    list-style: none;
}

.sesi-2 .container-1 ul li {
    padding: 10px;
}

.sesi-2 .container-1 ul .satu {
    float: left;
}

.sesi-2 .container-1 ul .dua {
    float: right;
}

.sesi-2 .container-1 ul li img {
    border: 3px groove black;
    transition: 1s;
}

.sesi-2 .container-1 ul li img:hover {
    border-radius: 50%;
}

.sesi-3 {
    padding-top: 50px;
    background: linear-gradient(#000, #fff);   
}

.sesi-3 .container-1 {
    text-align: center;
}

.sesi-3 .container-1 h1 {
    font-size: 36px;
    font-family: sans-serif;
    color: #fff;
}

.sesi-3 .container-1 form input {
    width: 400px;
    height: 30px;
}

.sesi-3 .container-1 form .username {
    border-top-left-radius: 10px;
}

.sesi-3 .container-1 form .email {
    border-top-right-radius: 10px;
}

.sesi-3 .container-1 form textarea {
    width: 804px;
    height: 150px;
    margin-top: 5px;
}

.sesi-3 .container-1 form button {
    width: 804px;
    height: 30px;
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sesi-3 .container-2 {
    margin: auto;
    width: 800px;
    height: auto;
    padding-top: 50px;
    text-align: center;
}

.sesi-3 .container-2 img {
    width: 50px;
    height: 50px;
    padding: 20px;
}

.sesi-3 footer {
    text-align: center;
    background: #000;
    color: #fff;
    height: 60px;
}

.sesi-3 footer h3 {
    position: relative;
    top: 10px;
    opacity: .8;
} 

.sesi-3 footer span {
    position: relative;
    top: -10px;
    opacity: .7;
}

/* Light Box */
.box-1 {
    width: 0;
    height: 0;
    text-align: center;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    transition: 1s;
}

.box-1:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
}

.box-1 img {
    width: 600px;
    height: 600px;
}

.cf {
    clear: both;
}

/* Monitor */
@media ( max-width: 1024px ) {

}

/* Tablet */
@media ( max-width: 768px ) {


}

/* HandPhone */

@media ( max-width: 480px ) {


}

@media ( max-width: 580px ) {
    .logo {
        position: fixed;
        top: 0;
        margin-left: 16px;
    }

    nav ul {
        max-height: 0px;
        width: 100%;
        background: #000000;
    }

    nav.black ul {
        background: #000000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}